.header {
    height: 4rem;
    width: 100%;
    background-color: #FDBD4E;
    padding: .5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.31);
}
.header > img {
    height: 100%;
}
.ghostHeader {
    width: 100%;
    height: 4rem;
}
.divAbstract:first-child {
    width: 1rem;
    height: 1rem;
}

.header_iconPerfil {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    color: #333;
}


